.container{
  text-align: center;
  background-color: black;
}

header h1{
  color: white;
}

.name_inputs input{
  border: 2px solid black;
  color: black;
}

.name_inputs label{
  color: white;
}

.robot_select{
  margin-left: 5%;
}

.robot_imgs img{
  width: 35%;
  height: 325px;
  margin-top: 4%;
  margin-left: 3.5%;
  display: inline-block;
}

.attack{
  text-align: center;
  margin-top: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

.winner-banner{
  margin-top: 3%;
  border: 2px solid black;
  background-color: red;
  color: white;
}

.winner-banner p{
  padding: .5%;
}

.status{
  width: 60%;
  text-align: left;
  margin: auto;
  margin-top: 2%;
  color: white;
  border: 3px solid darkgrey;
  background-color: black;
}

.status h3{
  margin-left:2%;
  margin-top: 1%;
}
