.container{
  text-align: center;
}

.name_inputs input{
  border: 2px solid black;
}

.robot_select{
  margin-left: 5%;
}

.robot_imgs img{
  width: 40%;
  margin-top: 4%;
  margin-left: 3.5%;
  display: inline-block;
}

.attack{
  text-align: center;
  margin-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
}
